name: Deploy
on:
  push:
    branches:
      - dev

jobs:
  prisma-deploy-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: npm install
      - run: npm run build
      - name: Apply all pending migrations to the database
        run: npx prisma migrate deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL_DEV }}
      - name: Seed data
        run: npx prisma db seed
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL_DEV }}
